header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(var(--accent-color-rgb), 0.5);

  img {
    height: 80px;
  }

  .logo-link,
  .right-panel {
    margin-left: auto;
  }

  .right-panel {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    min-width: 200px;
  }

  .cart-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    background: var(--accent-color);
    border-radius: 10px;
    transition: transform 300ms ease-out;

    &.animate-scale {
      animation: scaleAnimation 300ms ease-out;
    }
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
