:host {
  display: block;
  background-color: var(--bg-surface);
  border-radius: 8px;
  padding: 20px;

  .language-select {
    margin-bottom: 20px;
  }

  .actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
