<ng-container *transloco="let t; read: 'home.workshop'">
  <div class="grid">
    <div class="workshop-images">
      <img width="400" height="635" ngSrc="assets/images/work1.webp" />
      <img width="400" height="635" ngSrc="assets/images/work2.webp" />
    </div>
    <div class="workshop-content">
      <h2>{{ t("subTitle") | uppercase }}</h2>
      <h1>{{ t("title") | titlecase }}</h1>
      <p>
        {{ t("description") }}
      </p>
      <!-- <button type="button">{{ t("explore") }}</button> -->
    </div>
  </div>
</ng-container>
