<ng-container *transloco="let t; read: 'home.workshop'">
  <div class="grid">
    <div class="workshop-images">
      <img src="assets/images/cups4.webp" />
      <img src="assets/images/cups5.webp" />
    </div>
    <div class="workshop-content">
      <h2>{{ t("subTitle") | uppercase }}</h2>
      <h1>{{ t("title") | titlecase }}</h1>
      <p>
        {{ t("description") }}
      </p>
      <ul>
        <li>Custom Design</li>
        <li>Tea sets</li>
        <li>Coffee sets</li>
        <li>Family sets</li>
      </ul>
      <button type="button">{{ t("explore") }}</button>
    </div>
  </div>
</ng-container>
