@use 'animations';

.grid {
  background: url('/assets/images/bg-template-accent.png');
}

.logo {
  grid-area: 1 / 3 / 2 / 7;
}

.description-container {
  grid-area: 2 / 3 / 3 / 7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  z-index: 2;
}

.cups-img {
  max-height: 500px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  @include animations.move-left(2s, 200px);
}

.decor-img-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 600px;
  @include animations.pulse(4s);
}

.decor-img-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 300px;
}

.decor-img-3 {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 200px;
}

@media (max-width: 768px) {
  .logo {
    z-index: 1;
    grid-area: 1/2/2/7;
  }

  .description-container {
    grid-area: 2/2/3/7;
    background: #ffffff6c;
    padding: 10px;
    border-radius: 8px;
  }
}

@media (max-width: 576px) {
  .logo {
    grid-area: 1/2/2/12;
  }

  .description-container {
    grid-area: 2/2/3/12;
  }

  .cups-img {
    max-height: 500px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    @include animations.move-left(2s, 5px);
  }
}
