<ng-container *transloco="let t; read: 'home.contactUs'">
  <div class="contact-us-container">
    <h1>{{ t("title") | titlecase }}</h1>
    <p>
      {{ t("description") }}
    </p>
    <div class="social-links">
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/facebook.svg" />
      </a>
      <a
        href="https://www.instagram.com/lacerastudio/"
        target="_blank"
        rel="noopener noreferrer">
        <img src="assets/images/instagram.svg" />
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/tiktok.svg" />
      </a>
    </div>
    <button type="button">Contact us</button>
  </div>
</ng-container>
