:host {
  flex-shrink: 0;
}

a {
  color: var(--accent-fg-color);
}

nav ul {
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 20px 20px;
  background-color: #fff;

  li a {
    padding: 20px;
    border: 1px;

    &:hover {
      background-color: #eee;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.logout-btn {
  margin-left: auto;
  flex-shrink: 0;
  border: none;
  background-color: #fff;
  padding: 10px 20px;

  &:hover {
    background-color: #eee;
  }

  &:active {
    font-weight: 600;
  }
}

.active {
  font-weight: 600;
}

