<div class="container">
  <div class="wrapper" [class.disabled]="loading()">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-control-container">
        <label class="required">Name</label>
        <input
          placeholder="WRITE PRODUCT NAME"
          type="text"
          class="form-control"
          formControlName="name" />
      </div>
      <div class="form-control-container">
        <label>Price ₼</label>
        <input
          type="text"
          class="form-control"
          mask="00000"
          [validation]="false"
          formControlName="price" />
      </div>
      <div class="form-control-container">
        <label>Quantity</label>
        <input
          type="text"
          class="form-control"
          mask="000"
          [validation]="false"
          formControlName="quantity" />
      </div>
      <div class="form-control-container">
        <div class="dimensions-inputs">
          <div class="form-control-container">
            <label>Length sm</label>
            <input
              [formControl]="lengthControl"
              type="text"
              mask="000"
              [validation]="false"
              class="form-control" />
          </div>

          <div class="form-control-container">
            <label>Width sm</label>
            <input
              type="text"
              mask="000"
              [formControl]="widthControl"
              class="form-control" />
          </div>
          <div class="form-control-container">
            <label>Height sm</label>
            <input
              type="text"
              mask="000"
              [formControl]="heightControl"
              class="form-control" />
          </div>
        </div>
      </div>
      <div class="form-control-container">
        <label>Material</label>
        <select class="form-control" formControlName="materialId">
          @for (item of materials(); track item.id) {
            <option [value]="item.id">
              {{ item.name | currLang }}
            </option>
          }
        </select>
      </div>
      <div class="form-control-container">
        <label>Category</label>
        <select class="form-control" formControlName="categoryId">
          @for (item of categories(); track item.id) {
            <option [value]="item.id">{{ item.name | currLang }}</option>
          }
        </select>
      </div>
      <div class="form-control-container">
        <label>Collection</label>
        <select class="form-control" formControlName="collectionId">
          @for (item of collections(); track item.id) {
            <option [value]="item.id">{{ item.name | currLang }}</option>
          }
        </select>
      </div>

      <div class="form-control-container">
        <div class="description-inputs-header">
          <label>Description</label>
          <select
            class="form-control description-language-select"
            (change)="onChangeDescriptionLanguage($event)">
            <option [value]="langCodes.az" selected>Azerbaijani</option>
            <option [value]="langCodes.en">English</option>
            <option [value]="langCodes.ru">Russian</option>
          </select>
        </div>
        <textarea
          class="form-control"
          placeholder="Optional"
          [formControl]="descriptionControl"></textarea>
      </div>
      <button type="submit" [disabled]="loading()" class="btn">Submit</button>
      @if (productId()) {
        <button
          type="button"
          [disabled]="loading()"
          (click)="deleteProduct()"
          class="btn btn-danger">
          Delete
        </button>
      }
    </form>
    <div class="image-upload-container">
      <div class="image-preview-container">
        @if (showSetCoverButton()) {
          <button
            type="button"
            [disabled]="loading()"
            class="btn set-as-cover-btn"
            (click)="setAsCover()">
            Set as cover
          </button>
        }
        @if (previewImage()) {
          <img class="image-preview" [src]="previewImage()" />
        } @else {
          <label class="upload-image-label" for="file">
            <app-icon icon="upload_file" width="48px" height="48px"></app-icon>
          </label>
        }
      </div>

      <a
        href="https://squoosh.app/"
        target="_blank"
        class="link"
        rel="noopener noreferrer">
        👉Squoosh to webp!👈
      </a>

      <div class="image-upload-footer">
        <div class="image-upload">
          <input
            [accept]="extension"
            type="file"
            id="file"
            hidden
            multiple
            (change)="onFileChange($event)"
            accept="image/*" />
          @if (previewImage()) {
            <label class="upload-image-label" for="file">
              <app-icon
                width="48px"
                height="48px"
                icon="upload_file"></app-icon>
            </label>
          }
        </div>
        <div class="swiper-wrapper">
          <swiper-container slides-per-view="5.5">
            @for (item of images(); track $index; let i = $index) {
              <swiper-slide>
                <div
                  [class.is-cover]="item.isCover"
                  [class.new-image]="item.file"
                  class="thumbnail-image-card">
                  <button
                    [disabled]="loading()"
                    type="button"
                    class="delete-image-btn"
                    (click)="deleteImage(i)">
                    <app-icon icon="delete"></app-icon>
                  </button>
                  <img
                    class="thumbnail-image"
                    (click)="setPreviewImage(i)"
                    [src]="item.preview" />
                </div>
              </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</div>
