<ng-container *transloco="let t; prefix: 'product.details'">
  <div class="container">
    <div class="wrapper">
      @if (product(); as product) {
        <div class="image-wrapper">
          @if (product.images!.length > 1) {
            <swiper-container
              class="preview-slider"
              direction="vertical"
              space-between="10"
              slides-per-view="3.5">
              @for (item of product.images; track $index; let i = $index) {
                <swiper-slide>
                  <img
                    class="preview-image"
                    (click)="selectImage(i)"
                    [src]="item.previewUrl"
                    alt="" />
                </swiper-slide>
              }
            </swiper-container>
          }

          <div class="slider-wrapper" #previewImage>
            <swiper-container #imageSwiper navigation slides-per-view="1">
              @for (item of product.images; track $index; let i = $index) {
                <swiper-slide>
                  <img
                    class="slider-image"
                    (click)="showZoomedPreview(product, i)"
                    [src]="item.previewUrl"
                    alt="" />
                </swiper-slide>
              }
            </swiper-container>
          </div>
        </div>

        <div class="details-wrapper">
          <div class="dataset-links">
            <button type="button" class="btn-unstyled" routerLink="..">
              <app-icon icon="west" />
            </button>
            /
            <a
              [routerLink]="['/', routerLinks.productList]"
              [queryParams]="{ categoryId: product.categoryId }">
              {{ category()?.name | currLang }}
            </a>
            /
            <a
              [routerLink]="['/', routerLinks.productList]"
              [queryParams]="{ collectionId: product.collectionId }"
              >{{ collection()?.name | currLang }}
            </a>
            /
            <a
              [routerLink]="['/', routerLinks.productList]"
              [queryParams]="{ materialId: product.materialId }"
              >{{ material()?.name | currLang }}
            </a>
          </div>
          <h2 class="name">{{ product.name }}</h2>
          <p class="price">{{ product.price }} ₼</p>
          @if (product.quantity) {
            <p class="quantity">{{ t("quantity") }}: {{ product.quantity }}</p>

            <div class="request-directions">
              <span>{{ t("request") }}:</span>
              <input
                type="number"
                mask="00"
                min="1"
                [max]="productMaxAvailableQuantity()"
                style="text-align: center"
                class="form-control"
                [validation]="false"
                [formControl]="quantityControl" />

              <button
                type="button"
                [disabled]="quantityControl.invalid || orderLimitReached()"
                class="btn"
                (click)="addToCart(product)">
                <app-icon icon="add_shopping_cart" width="56px"></app-icon>
              </button>
            </div>
          } @else {
            <p class="quantity out-of-stock">{{ t("outOfStock") }}</p>

            <button
              type="button"
              class="btn notify-btn"
              (click)="notifyOnStock(product)">
              {{ t("notifyMe") }}
              <app-icon icon="notifications"></app-icon>
            </button>
          }

          <hr />

          <div class="details-info">
            <p class="size">
              <span class="info-title">{{ t("size") }}:</span>
              <span class="info-value">{{ product.size }}</span>
            </p>
            <p class="category">
              <span class="info-title">{{ t("category") }}:</span>
              <span class="info-value">{{ category()?.name | currLang }}</span>
            </p>
            <p class="collection">
              <span class="info-title">{{ t("collection") }}:</span>
              <span class="info-value">
                {{ collection()?.name | currLang }}
              </span>
            </p>
            <p class="material">
              <span class="info-title">{{ t("material") }}:</span>
              <span class="info-value">{{ material()?.name | currLang }}</span>
            </p>
            <p class="description">
              <span class="info-title">{{ t("description") }}:</span>
              <span class="info-value">
                {{ product.description | currLang }}
              </span>
            </p>
          </div>
        </div>
      }
    </div>
  </div>
</ng-container>
