<nav>
  <a [routerLink]="routerLinks.public">
    <img class="logo" src="assets/images/logo.svg" />
  </a>
  <ul>
    <li>
      <a [routerLink]="routerLinks.newsList" routerLinkActive="active">
        News list
      </a>
    </li>
    <li>
      <a [routerLink]="routerLinks.productList" routerLinkActive="active">
        Products list
      </a>
    </li>
    <li>
      <a [routerLink]="routerLinks.datasetList" routerLinkActive="active">
        Dataset list
      </a>
    </li>
  </ul>

  <app-language-select></app-language-select>

  <button class="logout-btn" (click)="logOut()">Log out</button>
</nav>
