<ng-container *transloco="let t; read: 'header'">
  <nav #nav>
    <ul class="links-container">
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.home">
          {{ t("homeLink") }}
        </a>
      </li>
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.aboutUs">
          {{ t("aboutLink") }}
        </a>
      </li>
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.customSets">
          {{ t("customSetsLink") }}
        </a>
      </li>
      <!-- <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.products">
          {{ t("productsLink") }}
        </a>
      </li> -->
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.workshops">
          {{ t("workshopLink") }}
        </a>
      </li>
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.shared.footer">
          {{ t("footerLink") }}
        </a>
      </li>
    </ul>
    <div class="lang-list">
      <select
        id="lang"
        [(ngModel)]="selectedLang"
        (change)="changeLanguage(selectedLang)">
        <option *ngFor="let lang of langCodes" [value]="lang">
          {{ lang }}
        </option>
      </select>
    </div>
  </nav>
</ng-container>
