<ng-container *transloco="let t; read: 'header'">
  <nav #nav>
    <ul class="links-container">
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.home">
          {{ t("homeLink") }}
        </a>
      </li>
      <li *appIfFeatureFlag="remoteConfigParams.homeProducts; else customSets">
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.products">
          {{ t("productsLink") }}
        </a>
      </li>
      <ng-template #customSets>
        <li>
          <a
            [routerLink]="routerLinks.public"
            [fragment]="routerAnchorLinks.home.customSets">
            {{ t("customSetsLink") }}
          </a>
        </li>
      </ng-template>
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.aboutUs">
          {{ t("aboutLink") }}
        </a>
      </li>
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.workshops">
          {{ t("workshopLink") }}
        </a>
      </li>
      <li *appIfFeatureFlag="remoteConfigParams.homeNews">
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.home.news">
          {{ t("newsLink") }}
        </a>
      </li>
      <li>
        <a
          [routerLink]="routerLinks.public"
          [fragment]="routerAnchorLinks.shared.footer">
          {{ t("footerLink") }}
        </a>
      </li>
    </ul>
    <app-language-select></app-language-select>
  </nav>
</ng-container>
