:host {
  display: block;
}

.login-container {
  width: 100%;
  height: 100svh;
  display: grid;
  place-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

input {
  padding: 10px 24px;
}

button {
  padding: 10px 24px;
  border-radius: 8px;
}
