@mixin pulse($duration) {
  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  animation: pulse $duration infinite alternate;
}

@mixin move-left($args...) {
  @keyframes move-left {
    0% {
      transform: translateX(200px);
    }

    100% {
      transform: translateX(0);
    }
  }

  animation: move-left $args;
}
