:root {
  --accent-color: #e7b38b;
  --accent-fg-color: #5b1f29;
  --fg-color-light: #ffffff;
  --fg-color-muted: #6e6e6e;
  --fg-color-dark: #1a1a1a;
  --btn-bg: #e0e2e4;
  --btn-bg-active: #c4c6c8;
  --btn-danger-bg: #ff4646;
  --btn-success-bg: #86e05c;
  --bg-surface: #fff;
  --bg-surface-hover: #cccccc;
  --border-default: #eee;
}
