<app-header />

<section [id]="routerAnchorLinks.home.home">
  <app-welcome-section />
</section>

<section
  [id]="routerAnchorLinks.home.products"
  *appIfFeatureFlag="remoteConfigParams.homeProducts; else customSets">
  <app-products-section />
</section>

<ng-template #customSets>
  <section [id]="routerAnchorLinks.home.customSets">
    <app-custom-sets-section />
  </section>
</ng-template>

<section [id]="routerAnchorLinks.home.aboutUs">
  <app-about-us-section />
</section>

<section [id]="routerAnchorLinks.home.workshops">
  <app-workshops-section />
</section>

<section
  *appIfFeatureFlag="remoteConfigParams.homeNews"
  [id]="routerAnchorLinks.home.news">
  <app-news-section />
</section>
