:host {
  flex-grow: 1;
}

.wrapper {
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-block: 10vh;

  .back-btn {
    display: block;
    align-self: flex-start;
    margin-top: 20px;
    color: var(--fg-color-dark);
  }
}

.content-container {
  min-height: 30svh;
}

.divider {
  margin-block: 16px;
}

.gallery-container {
  display: flex;
  gap: 10px;
}

.gallery-item {
  height: 100px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;

  time {
    text-align: end;
    align-self: flex-end;
    color: var(--fg-color-muted);
  }
}

h3 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.loading-state {
  position: absolute;
  inset: 0;
  background-color: rgba($color: #000, $alpha: 0.9);
  display: grid;
  place-items: center;
  z-index: 1000;
  color: #fff;
}
