<div class="wrapper">
  @if (newsItem(); as newsItem) {
    <div class="header-container">
      <time>{{ newsItem.createdAt | date }}</time>
      <h3>{{ newsItem.title | currLang }}</h3>
    </div>
    <div class="content-container">
      <p>{{ newsItem.text | currLang }}</p>
    </div>
    <gallery thumbs [items]="galleryItems()"></gallery>
  } @else {
    <div class="loading-state">
      <img src="assets/images/loading.svg" alt="" />
    </div>
  }

  <a [routerLink]="routerLinks.public" class="btn back-btn">Back</a>
</div>
