:host {
  flex-grow: 1;
}

.wrapper {
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .back-btn {
    display: block;
    align-self: flex-start;
    margin-top: 20px;
    color: var(--fg-color-dark);
  }
}

.content-container {
  min-height: 30svh;
}

.cover {
  height: 300px;
  width: 100%;
  overflow: clip;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  object-fit: cover;
}

 

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 15px;

  time {
    align-self: flex-end;
    color: var(--fg-color-muted);
  }
}

h3 {
  font-weight: 600;
  font-size: 25px;
  margin-block: 20px;
}

.loading-state {
  position: absolute;
  inset: 0;
  background-color: rgba($color: #000, $alpha: 0.9);
  display: grid;
  place-items: center;
  z-index: 1000;
  color: #fff;
}

