.about-us-img-wrapper {
  grid-column: 2 / 6;
  position: relative;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 10%;
    left: -15%;
    width: 100%;
    height: 100%;
    background-color: #efb78d;
    border-radius: 20%;
  }
}

.about-us-img-container {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -35%;
    width: 244px;
    height: 410px;
    background: url('/assets/images/decor-leaves-3.webp') no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 5%;
    right: -25%;
    width: 200px;
    height: 325px;
    background: url('/assets/images/decor-leaves-4.webp') no-repeat bottom right;
  }

  .about-us-img {
    z-index: 1;
    position: relative;
    max-height: 800px;
    border-radius: 20%;
  }
}

.about-us-content {
  grid-column: 7 / 12;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;

  &::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 290px;
    height: 250px;
    background: url('/assets/images/decor-figure-5.svg') no-repeat;
  }

  h2 {
    font-size: 26px;
  }

  h1 {
    margin-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .about-us-img-wrapper::before {
    height: 300px;
  }

  .about-us-content {
    gap: 15px;

    &::after {
      content: none;
    }

    p {
      font-size: 14px;
    }

    h2 {
      font-size: 26px;
    }

    h1 {
      margin-bottom: 0;
    }
  }
}
