<ng-container *transloco="let t; read: 'home.aboutUs'">
  <div class="grid">
    <div class="about-us-img-wrapper">
      <div class="about-us-img-container">
        <img
          class="about-us-img"
          width="600"
          height="800"
          ngSrc="assets/images/cups2.webp" />
      </div>
    </div>
    <div class="about-us-content">
      <h2>{{ t("aboutUsSubHeader") | uppercase }}</h2>
      <h1>{{ t("aboutUsHeader") | titlecase }}</h1>
      <p>
        {{ t("aboutUsText") }}
      </p>
      <!-- <button>{{ t("explore") }}</button> -->
    </div>
  </div>
</ng-container>
