.workshop-images {
  grid-column: 2 / 5;
  display: flex;
  gap: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 200px;
    height: 220px;
    background: url('/assets/images/decor-figure-7.webp') no-repeat bottom;
  }
}

.workshop-content {
  grid-column: 8 / 12;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  color: var(--accent-fg-color);

  h1 {
    color: var(--accent-fg-color);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .workshop-images {
    flex-direction: column;
    grid-column: 2 / 8;
  }
}

@media (max-width: 576px) {
  .workshop-images {
    grid-area: 2/3/3/11;

    img {
      height: auto;
    }
  }

  .workshop-content {
    grid-area: 1/3/2/11;
  }
}
