<ng-container *transloco="let t; prefix: 'cart'">
  <div class="wrapper">
    <div>
      <h3>{{ t("contactName") }}</h3>
      <input
        type="text"
        class="form-control"
        [formControl]="customerName"
        [placeholder]="t('name')" />
    </div>
    <div>
      <h3>{{ t("enterPhoneNumber") }}</h3>
      <input
        type="tel"
        placeholder="+994 50 000 00 00"
        prefix="+994"
        mask=" 00 000 00 00"
        placeHolderCharacter="*"
        [showMaskTyped]="true"
        [dropSpecialCharacters]="false"
        class="form-control"
        [formControl]="customerPhoneNumber" />
    </div>

    <div class="checkbox-input">
      <input
        type="checkbox"
        class="form-control"
        id="terms"
        [formControl]="termsAcceptControl" />
      <label for="terms">
        {{ t("terms") }}
        <br />
        <a target="_blank" [routerLink]="routerLinks.privacyPolicy">{{
          t("privacyPolicy")
        }}</a>
      </label>
    </div>
    <button
      type="button"
      class="btn"
      [disabled]="
        termsAcceptControl.invalid ||
        customerName.invalid ||
        customerPhoneNumber.invalid
      "
      (click)="placeNotification()">
      {{ t("checkout") }}
    </button>
  </div>
</ng-container>
