<aside class="filters-container">
  <h2>Filters</h2>
  <div class="form-container">
    <label for="date-filter">Start date</label>
    <input
      type="date"
      id="date-filter"
      class="form-control"
      [value]="startDate"
      [max]="maxDate"
      (change)="setDateFilters($event, 'start')" />
  </div>
  <div class="form-container">
    <label for="date-filter">End date</label>
    <input
      type="date"
      id="date-filter"
      class="form-control"
      [min]="minDate"
      (change)="setDateFilters($event, 'end')" />
  </div>
  <button type="button" class="btn" (click)="searchByFilters()">Search</button>
</aside>
<div class="list-container wrapper">
  <a [routerLink]="[routerLinks.productPanel]" class="btn create-btn">
    Create new product
  </a>

  <div class="list-container">
    @for (item of products$ | async; track item.id; let last = $last) {
      <a
        class="card"
        [routerLink]="[routerLinks.productPanel]"
        [queryParams]="{ id: item.id }">
        <img
          (appIntersectionListener)="loadMore(last)"
          class="card-image"
          height="100"
          width="100"
          priority
          [ngSrc]="item.imageUrls[0]"
          alt="" />
        <div class="card-content">
          <div class="card-header">
            <h3>{{ item.name }}</h3>
            <time>{{ item.createdAt | date }}</time>
          </div>
          <p>{{ item.description }}</p>
        </div>
      </a>
    } @empty {
      No data added yet
    }
  </div>
</div>
