<ng-container *transloco="let t; read: 'productsList'">
  <div class="container">
    <div class="filter-container">
      <div class="filter">
        <div class="filter-item">
          <label for="filter">{{ t("filter") }}</label>
          <select id="filter" class="filter-select">
            <option value="">{{ t("all") }}</option>
            <optgroup label="{{ t('category') }}">
              @for (category of categories(); track $index) {
                <option value="category-{{ category.id }}">
                  {{ category.name | currLang }}
                </option>
              }
            </optgroup>
            <optgroup label="{{ t('collection') }}">
              @for (collection of collections(); track $index) {
                <option value="collection-{{ collection.id }}">
                  {{ collection.name | currLang }}
                </option>
              }
            </optgroup>
            <optgroup label="{{ t('material') }}">
              @for (material of materials(); track $index) {
                <option value="material-{{ material.id }}">
                  {{ material.name | currLang }}
                </option>
              }
            </optgroup>
          </select>
        </div>
      </div>
    </div>
    <div class="products-list">
      @for (product of products(); track $index) {
        <a class="product-card" [routerLink]="product.id">
          <img
            [src]="product.imageUrls[0]"
            alt="{{ product.name }}"
            class="product-image" />
          <h2 class="product-name">{{ product.name }}</h2>
          <p class="product-price">{{ product.price }}</p>
        </a>
      }
    </div>
  </div>
</ng-container>
