<ng-container *transloco="let t; prefix: 'cart'">
  <div class="wrapper">
    <div class="left-panel">
      <h2>{{ t("products") }}</h2>
      <div class="cart-items">
        @for (item of products(); track $index; let last = $last) {
          <div class="cart-item">
            <img [src]="item.product.images![0].previewUrl" alt="" />
            <div class="cart-item-info">
              <h3>{{ item.product.name }}</h3>
              <p>{{ t("price") }}: {{ item.product.price }} ₼</p>
              <p>{{ t("quantity") }}: {{ item.quantity }}</p>
              <p>{{ t("totalPrice") }}: {{ totalPrice }} ₼</p>
            </div>
            <button
              type="button"
              class="btn"
              (click)="removeFromCart(item.product.id)">
              <app-icon icon="delete"></app-icon>
            </button>
          </div>
        } @empty {
          <p>{{ t("emptyCart") }}</p>
        }
      </div>
    </div>
    <div class="right-panel">
      <form [formGroup]="contactForm">
        <div>
          <h3>{{ t("contactName") }}</h3>
          <input
            type="text"
            class="form-control"
            formControlName="customerName"
            [placeholder]="t('name')" />
        </div>
        <div>
          <h3>{{ t("enterPhoneNumber") }}</h3>
          <intl-tel-input
            class="tel-control"
            formControlName="customerPhoneNumber"
            (validityChange)="handleValidityChange($event)"
            [inputProps]="{
              class: 'form-control',
              placeholder: '+994 50 000 00 00'
            }"
            [initOptions]="{
              initialCountry: 'az',
              formatOnDisplay: true,
              strictMode: true,
              nationalMode: false,
              autoPlaceholder: 'aggressive'
            }" />
        </div>
        <div>
          <h3>{{ t("enterEmail") }}</h3>
          <input
            type="email"
            placeholder="example@mail.com"
            class="form-control"
            formControlName="customerEmail" />
        </div>
        <div class="checkbox-input">
          <input
            type="checkbox"
            class="form-control"
            id="terms"
            formControlName="termsAccept" />
          <label for="terms">
            {{ t("terms") }}
            <br />
            <a target="_blank" [routerLink]="routerLinks.privacyPolicy">{{
              t("privacyPolicy")
            }}</a>
          </label>
        </div>
        <button
          type="button"
          class="btn"
          [disabled]="contactForm.invalid || !products().length"
          (click)="checkout()">
          {{ t("checkout") }}
        </button>
      </form>
    </div>
  </div>
</ng-container>
