:host {
  display: block;
}

h3 {
  font-size: 600;
  font-size: 20px;
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

  & * {
    flex: 300px 1 1;
  }
}

.text-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

  & * {
    flex: 300px 1 1;
  }
}

.form-container {
  margin-block: 50px;
  margin-inline: auto;
  max-width: 1000px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  gap: 20px;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    .btn {
      pointer-events: none;
    }
  }
}

.btn {
  align-self: flex-start;
}

.notation {
  margin-left: 10px;
}

.upload-action-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: var(--fg-dark);
  font-size: 18px;
  font-weight: 600;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  img {
    object-fit: cover;
  }
}

.delete-thumbnail-btn {
  width: 100%;
  padding: 5px 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: var(--border-default);
  background-color: var(--btn-danger-bg);

  &:hover {
    color: var(--fg-light);
  }
}

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

textarea {
  min-height: 100px;
  resize: vertical;
}
