<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>News edit panel</h3>

    <div class="title-container" formGroupName="title">
      <input
        type="text"
        class="form-control"
        formControlName="az"
        placeholder="Title az" />
      <input
        type="text"
        class="form-control"
        formControlName="ru"
        placeholder="Title ru" />
      <input
        type="text"
        class="form-control"
        formControlName="en"
        placeholder="Title en" />
    </div>
    <div formGroupName="text" class="text-container">
      <textarea
        formControlName="az"
        class="form-control"
        placeholder="Text az"></textarea>
      <textarea
        formControlName="ru"
        class="form-control"
        placeholder="Text ru"></textarea>
      <textarea
        formControlName="en"
        class="form-control"
        placeholder="Text en"></textarea>
    </div>
    <div class="gallery-container" [class.disabled]="loading()">
      <div class="upload-action-container">
        <label for="uploadInput" class="btn">
          {{
            files().length
              ? files().length + " new images selected"
              : "Upload images"
          }}
        </label>
        <input
          id="uploadInput"
          type="file"
          class="visually-hidden"
          [accept]="accept"
          multiple
          #filesInput
          (change)="onFileChange()" />

        <a
          href="https://squoosh.app/"
          target="_blank"
          class="link"
          rel="noopener noreferrer">
          👉Squoosh to webp!👈
        </a>
      </div>
    </div>
    <div class="thumbnail-container">
      @for (
        imageUrl of form.controls.imageUrls.valueChanges | async;
        track $index
      ) {
        <div>
          <button
            type="button"
            class="delete-thumbnail-btn"
            (click)="deleteImage(imageUrl)">
            Delete
          </button>
          <img width="100" height="100" [src]="imageUrl" alt="" />
        </div>
      }
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="loading() || form.invalid">
      Submit
    </button>
    @if (newsId) {
      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteNews()"
        [disabled]="loading()">
        Delete
      </button>
    }
  </form>
</div>
