@use 'typography';

:host {
  display: flex;
  flex-grow: 1;
}

.create-news-btn {
  color: var(--fg-color-dark);
  text-align: center;
}

.filters-container {
  padding: 24px 16px;
  border-right: 1px solid var(--accent-color);
  background-color: var(--bg-surface);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  margin-inline: auto;
  margin-block: 20px;
}

.list-container {
  display: flex;
  min-width: 500px;
  flex-direction: column;
  gap: 16px;
  margin-inline: auto;
  margin-block: 20px;
}

.news-card {
  display: flex;
  align-items: center;
  min-width: 500px;
  max-width: 600px;
  background-color: var(--bg-surface);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-image {
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: var(--fg-color-dark);

  p {
    font-size: 16px;
    @include typography.line-clamp(3);
  }
}

.card-header {
  display: flex;

  h3 {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
  }

  time {
    margin-left: auto;
    font-size: 14px;
    color: var(--fg-color-muted);
  }
}

