<aside class="filters-container">
  <div class="form-container">
    <label for="date-filter">Date filter</label>
    <input type="date" id="date-filter" />
  </div>
</aside>
<div class="list-container">
  <a [routerLink]="['../', routerLinks.newsPanel]" class="btn create-news-btn">
    Create new
  </a>
  <input
    [formControl]="searchControl"
    type="search"
    placeholder="Search"
    class="form-control" />

  @for (item of news$ | async; track item.id) {
    <a
      class="news-card"
      [routerLink]="['../', routerLinks.newsPanel]"
      [queryParams]="{ id: item.id }">
      <img
        class="card-image"
        height="100"
        width="100"
        ngSrc="https://placehold.co/100"
        alt="" />
      <div class="card-content">
        <div class="card-header">
          <h3>{{ item.title }}</h3>
          <time>{{ item.createdAt | date }}</time>
        </div>
        <p>{{ item.text }}</p>
      </div>
    </a>
  } @empty {
    Empty list of news
  }
</div>
