<aside class="filters-container">
  <h2>Filters</h2>

  <div class="form-container">
    <label for="date-filter">Start date</label>

    <input
      type="date"
      id="date-filter"
      class="form-control"
      [value]="startDate"
      [max]="maxDate"
      (change)="setDateFilters($event, 'start')" />
  </div>

  <div class="form-container">
    <label for="date-filter">End date</label>

    <input
      type="date"
      id="date-filter"
      class="form-control"
      [min]="minDate"
      (change)="setDateFilters($event, 'end')" />
  </div>

  <button type="button" class="btn" (click)="searchByFilters()">Search</button>
</aside>

<div class="list-container wrapper">
  <a [routerLink]="['../', routerLinks.newsPanel]" class="btn create-news-btn">
    Create new
  </a>

  <div class="list-container">
    @for (item of news$ | async; track item.id; let last = $last) {
      <a
        (appIntersectionListener)="loadMore(last)"
        class="news-card"
        [routerLink]="['../', routerLinks.newsPanel]"
        [queryParams]="{ id: item.id }">
        <div class="card-image">
          <img [ngSrc]="item.coverImgUrl" priority fill alt="" />
        </div>

        <div class="card-content">
          <div class="card-header">
            <h3>{{ item.title | currLang }}</h3>

            <time>{{ item.createdAt | date }}</time>
          </div>

          <p>{{ item.text | currLang }}</p>
        </div>
      </a>
    } @empty {
      No data added yet
    }
  </div>
</div>
