.products-header {
  grid-column: 3 / 11;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-size: 20px;
  }
}

.more-btn {
  grid-column: 4 / 10;
}

.card-btn {
  background: transparent;
  padding: 0;

  &:active {
    background: transparent;
  }
}

.mobile-swiper-wrapper {
  display: none;
}

.desktop-products-content {
  grid-column: 2 / 12;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 6.666%;

  .product-card:last-of-type {
    position: relative;

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 3%;
      right: -20%;
      height: 100px;
      width: 200px;
      border-radius: 0 0 150px 150px;
      background-color: var(--accent-color);
    }
  }

  .product-card:first-of-type {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -5%;
      left: -15%;
      height: 100px;
      width: 200px;
      border-radius: 0 0 150px 150px;
      background-color: var(--accent-fg-color);
    }
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    bottom: 15%;
    left: -8%;
    z-index: 1;
    background: url('/assets/images/decor-figure.webp') no-repeat bottom left;
  }

  &::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 85px;
    top: 100px;
    right: -100px;
    z-index: 0;
    background: url('/assets/images/decor-figure-2.webp') no-repeat top right;
  }
}

.product-card {
  margin-bottom: 30px;
  z-index: 1;
  flex-grow: 0;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  background: transparent;
  transition: transform 0.3s ease-in-out;
  color: var(--fg-muted);

  &:hover {
    transform: scale(1.025);

    .product-description {
      color: var(--accent-fg-color);
    }
  }

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 4;
    object-fit: cover;
    min-height: 80%;
  }

  .product-name {
    color: #8aa3a0;
    font-family: 'Montserrat-SemiBold', sans-serif;
  }
}

.product-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 24px;
  margin-top: auto;
  padding: 20px;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  background-color: var(--bg-surface);
}

@media (max-width: 1024px) {
  .desktop-products-content {
    gap: 10px;
    justify-content: center;
  }

  .product-card {
    flex-basis: 45%;
  }
}

@media (max-width: 768px) {
  .mobile-swiper-wrapper {
    display: block;
  }

  .desktop-products-content {
    display: none;
  }

  .product-description {
    gap: 10px;
    padding: 10px;
  }

  .product-name {
    font-size: 16px;
  }

  .product-price {
    font-size: 14px;
    text-align: center;
  }

  .product-card img {
    min-height: 200px;
  }
}

@media (max-width: 425px) {
  .desktop-products-content {
    gap: 0;
  }

  .product-card {
    flex-basis: 100%;
  }
}
