<ng-container *transloco="let t; read: 'home.products'">
  <div class="grid">
    <div class="products-header">
      <h2>{{ t("subTitle") | uppercase }}</h2>
      <h1>{{ t("title") | titlecase }}</h1>
    </div>
    <div class="mobile-swiper-wrapper">
      <swiper-container
        slides-per-view="1.5"
        space-between="20"
        auto-height="true">
        @for (item of products(); track $index; let i = $index) {
          <swiper-slide>
            <a
              class="product-card"
              [routerLink]="[routerLinks.productList, item.id]">
              <img [src]="item.imageUrls[0]" alt="" />
              <div class="product-description">
                <span class="product-name">{{ item.name }}</span>
                <span class="product-price">{{ item.price }} ₼</span>
              </div>
            </a>
          </swiper-slide>
        }
      </swiper-container>
    </div>
    <div class="desktop-products-content">
      @for (item of products(); track $index) {
        <a
          class="product-card"
          [routerLink]="[routerLinks.productList, item.id]">
          <img [src]="item.imageUrls[0]" alt="" />
          <div class="product-description">
            <span class="product-name">{{ item.name }}</span>
            <span style="text-align: center">{{ item.price }} AZN</span>
          </div>
        </a>
      }
    </div>

    <a [routerLink]="[routerLinks.productList]" class="btn more-btn">
      {{ t("more") }}
    </a>
  </div>
</ng-container>
