<ng-container *transloco="let t; read: 'home.products'">
  <div class="grid">
    <div class="products-header">
      <h2>{{ t("subTitle") | uppercase }}</h2>
      <h1>{{ t("title") | titlecase }}</h1>
    </div>
    <div class="products-content">
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
      <div class="product-card">
        <button type="button" class="plain-btn">
          <img
            src="https://cb2.scene7.com/is/image/CB2/VictoriaBlackVaseSHS21/$web_pdp_main_carousel_sm$/240215084309/victoria-black-vase.jpg"
            alt="" />
          <div class="product-description">
            <span class="product-name">{{ "productName" }}</span>
            <span>$16.00</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</ng-container>
