@use 'styles/theme';
@use 'styles/fonts';
@use '@angular/cdk' as cdk;
@use 'styles/container';
@use 'styles/animations';

@include cdk.overlay();

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(assets/images/bg-template.png);
  min-height: 100dvh;
  font-family: 'Montserrat', sans-serif;
  overflow-x: clip;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: 'AlumniSans', sans-serif;
  font-size: 70px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  .btn,
  label,
  a {
    pointer-events: none;
  }
}

button {
  cursor: pointer;
  border: none;
}

.btn-unstyled {
  border: none;
  background: transparent;
}

.btn {
  background-color: var(--btn-bg);
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  line-height: 24px;
  color: var(--fg-dark);
  text-align: center;
  font-family: 'Montserrat-SemiBold', sans-serif;
  cursor: pointer;
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:active:not(:disabled) {
    background-color: var(--btn-bg-active);
    transform: scale(0.97);
  }

  &.btn-danger {
    background-color: var(--btn-danger-bg);
  }

  &.btn-success {
    background-color: var(--btn-success-bg);
  }

  &.btn-sm {
    padding: 4px 12px;
  }
}

.checkbox-input {
  display: flex;
  gap: 8px;

  .form-control {
    width: 30px;
  }
}

.grid {
  min-height: 100svh;
  color: var(--accent-fg-color);
  display: grid;
  align-items: center;
  place-content: center;
  column-gap: 20px;
  row-gap: 70px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  position: relative;
  padding-block: 5%;
  overflow-x: clip;

  h2 {
    letter-spacing: 10px;
  }
}

.form-control-container {
  & label {
    margin-bottom: 8px;
    display: inline-block;
  }
}

.form-control {
  width: 100%;
  max-width: 350px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid var(--border-default);

  &.ng-invalid.ng-touched {
    border-color: var(--border-danger);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.visually-hidden {
  display: none;
}

p {
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .grid {
    row-gap: 20px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 22px;
    line-height: 27px;
  }
}

@media (max-width: 425px) {
  .grid {
    row-gap: 10px;
  }
}
