@use 'typography';

:host {
  display: flex;
  flex-grow: 1;
}

.create-btn {
  color: var(--fg-dark);
  text-align: center;
}

.filters-container {
  padding: 24px 16px;
  border-right: 1px solid var(--accent-color);
  background-color: var(--bg-surface);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  overflow: hidden;
  background-color: var(--bg-surface);
  transition: box-shadow 0.3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  }
}

.card-image {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  min-height: 195px;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-wrap: anywhere;
  color: var(--fg-dark);

  & h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
    @include typography.line-clamp(3);
  }

  & time {
    margin-left: auto;
    margin-top: 10px;
    font-size: 14px;
  }
}

.list-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}
