footer {
  background: url(/assets/images/bg-template.png), var(--accent-color);
  background-blend-mode: multiply;
  color: var(--fg-light);
  text-align: center;
  position: relative;
  padding-top: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 150px;
    left: 0;
    width: 200px;
    height: 100px;
    background: url('/assets/images/decor-figure-3.webp') no-repeat;
  }
}

.logo {
  z-index: 1;
  position: relative;
}

a {
  color: var(--fg-light);
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: var(--accent-fg-color);
}

.footer-data {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 32px 10%;
}

.divider {
  width: 1px;
  align-self: stretch;
  background-color: #fff;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: end;

  img {
    height: 30px;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.copyright-container {
  border-top: 1px solid #fff;
  width: 100%;
  padding: 20px;
}

.contact-us-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding-block: 80px;
  justify-content: space-between;

  h1 {
    color: #8aa3a0;
  }

  p {
    max-width: 800px;
  }
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;

  a {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;

    img {
      height: 30px;
      flex-shrink: 0;
    }

    span {
      flex-grow: 1;
    }
  }
}

@media (max-width: 768px) {
  .divider {
    display: none;
  }

  .wrapper {
    justify-content: center;
  }

  .footer-data {
    flex-direction: column;
    gap: 25px;
  }

  .contact-us-container {
    padding-block: 20px;

    .social-links {
      gap: 25px;
      align-items: flex-start;
      margin: 0 auto;

      a {
        justify-content: center;

        span {
          flex-grow: 0;
        }
      }
    }
  }
}
