<footer>
  <div class="wrapper">
    <div class="contacts-container">
      <h2>Get In Touch</h2>
      <a href="tel:+12-345-6789">+12-345-6789</a>
      <a href="mailto:someemailtest.com">someemailtest.com</a>
      <a
        href="https://maps.app.goo.gl/Vf6DjecxQfZ39smUA"
        target="_blank"
        rel="noopener noreferrer">
        1028 İzmir küçəsi, Bakı
      </a>
    </div>
    <div class="divider"></div>
    <div class="title-container">
      <h1>Lacera ceramic studio</h1>
    </div>
    <div class="divider"></div>
    <div class="working-hours-container">
      <h2>Working Hour</h2>
      <p>Monday/Friday 10:30–19:00</p>
      <p>Weekend Closed</p>
    </div>
  </div>
  <div class="copyright-container">Copyright All Rights Reserved</div>
</footer>
