@use 'animations';

:host {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 150px;
    left: 0;
    width: 250px;
    z-index: 1;
    height: 300px;
    background: url('/assets/images/decor-leaves-5.svg') no-repeat;
    background-size: cover;
  }
}

.custom-sets-cups-container {
  grid-column: 2 / 12;
  padding-block: 300px;
  text-align: center;
  position: relative;
  overflow: clip;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    height: 402px;
    background: url('/assets/images/decor-rings2.svg') no-repeat center center;
    background-size: cover;

    @include animations.pulse(3s);
  }

  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 1;
  }

  p {
    font-weight: 600;
    background: #ffffff91;
    border-radius: 8px;
    padding: 10px 20px;
  }

  h1 {
    color: var(--accent-fg-color);
  }
}

@media (max-width: 768px) {
  .custom-sets-cups-container {
    padding-block: 100px;

    &::after {
      width: 180px;
      height: 302px;
    }
  }
}

@media (max-width: 576px) {
  :host::before {
    top: 150px;
    width: 150px;
    background-size: contain;
  }

  .custom-sets-img {
    height: 300px;
    object-fit: cover;
  }

  .custom-sets-cups-container {
    grid-area: 1/2/2/12;
  }
}
