.title {
  grid-column: 2 / 4;
  color: var(--accent-fg-color);
}

.news-container {
  color: var(--accent-fg-color);
  grid-column: 2 / 12;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;

  .card-image {
    min-height: 400px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    overflow: clip;
    object-fit: cover;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
  }
}
