<ng-container *transloco="let t; prefix: 'home.news'">
  <div class="grid">
    <div class="title">
      <h2>{{ t("subTitle") }}</h2>
      <h1>{{ t("title") }}</h1>
    </div>

    <div class="news-container">
      @for (item of sourceData$ | async; track item.id; let last = $last) {
        <a [routerLink]="[routerLinks.news, item.id]" class="news-card">
          <div class="card-info">
            <time>{{ item.createdAt | date }}</time>
            <h3>{{ item.title | currLang }}</h3>
            <a>{{ t("readMore") }}</a>
          </div>
        </a>
      } @empty {
        No data added yet
      }
    </div>
  </div>
</ng-container>
